<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.algamar.lapangan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.algamar.lapangan.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.algamar.lapangan.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.algamar.lapangan.BookingActivity"
            android:label="Booking"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.algamar.lapangan.JadwalActivity"
            android:label="Jadwal"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.algamar.lapangan.RegistrasiActivity"
            android:label="Registrasi User"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.algamar.lapangan.LapanganActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.algamar.lapangan.ListBookingActivity"
            android:label="List Booking"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.algamar.lapangan.ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>